{% extends 'base.html' %}

{% block content %}

  <div class="flex-fill align-items-center mt-8">
    <!-- Image container -->
    <div class="mt-4 mb-4 text-center" style="display:block;">
      <a class="" href="{{ url_for('dashboard.index') }}">
        <picture>
          <source media="(max-width: 650px)" srcset="/static/logo.svg">
          <img src="/static/logo.svg" style="width: 24rem" alt="logo">
        </picture>
      </a>
    </div>

    <!-- Text container -->
    <div class="mt-8 mb-4 text-center">
      <h2 class="text-black-50" style="font-size:2rem">Quickly create an alias every time you need an email</h2>
    </div>


    <!-- Input + button container -->
    <div class="mt-8" style="display:grid; place-items:center;width:1024px;margin:auto;position:relative;">
      <img
        src="/static/images/onboarding-click-icon.png"
        style="width:400px;position:absolute;right:-90px;top:-44px;"
      />
      <div style="width: 25rem; display: block">
        <form method="post">
          {{ form.csrf_token }}
          {{ form.email(class="p-3", type="email", autofocus="true", placeholder="email", style="border: 2px solid black; border-radius: 2px; width:100%") }}
          {{ render_field_errors(form.email) }}
          <button type="submit" class="p-4 mt-2 text-decoration-none" style="background:black;color:white; width:10rem">Send me an email</button>
        </form>
      </div>
    </div>

    <div class="mt-9 text-center">
      <p style="font-size: 1rem">For advanced options please use our <a href="{{ url_for("dashboard.index") }}">web dashboard</a></p>
    </div>
  </div>

{% endblock %}