{% extends 'default.html' %}

{% set active_page = "dashboard" %}

{% block title %}
  Alias Activity
{% endblock %}

{% block default_content %}
  <div class="page-header row ml-0">
    <h3 class="page-title col">
      {{ alias }}
    </h3>
  </div>

  <div class="row">
    {% for log in logs %}
      <div class="col-12">
        <div class="my-2 p-2 card border-light">
          <div class="font-weight-bold">{{ log.when | dt }}</div>
          <div>
            <span class="mr-2">{{ log.website_from or log.website_email }}</span>

            <span>
              {% if log.is_reply %}
                <img src="{{ url_for('static', filename='arrows/reply-arrow.svg') }}" class="arrow">
              {% elif log.blocked %}
                <img src="{{ url_for('static', filename='arrows/blocked-arrow.svg') }}" class="arrow">
              {% else %}
                <img src="{{ url_for('static', filename='arrows/forward-arrow.svg') }}" class="arrow">
              {% endif %}
            </span>

            <span class="ml-2">
              {{ log.alias }}
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <nav aria-label="Alias log navigation">
    <ul class="pagination">
      <li class="page-item {% if page_id == 0 %}disabled{% endif %}"><a class="page-link" href="{{ url_for('dashboard.alias_log', alias=alias, page_id=page_id-1) }}">Previous</a></li>
      <li class="page-item {% if last_page %}disabled{% endif %}"><a class="page-link" href="{{ url_for('dashboard.alias_log', alias=alias, page_id=page_id+1) }}">Next</a></li>
    </ul>
  </nav>
{% endblock %}

{% block script %}
{% endblock %}
