{% extends 'default.html' %}

{% set active_page = "dashboard" %}

{% block title %}
  Alias Activity
{% endblock %}

{% block default_content %}
  <div class="page-header row">
    <h3 class="page-title col">
      {{ alias }}
    </h3>
  </div>

  <div class="row">
    {% for log in logs %}
      <div class="col-12">
        <div class="my-2 p-2 card">
          <div class="font-weight-bold">{{ log.when | dt }}</div>
          <div>
            <span class="mr-2">{{ log.website_from or log.website_email }}</span>

            <span>
              {% if log.is_reply %}
                <img src="{{ url_for('static', filename='arrows/reply-arrow.svg') }}" class="arrow">
              {% elif log.blocked %}
                <img src="{{ url_for('static', filename='arrows/blocked-arrow.svg') }}" class="arrow">
              {% else %}
                <img src="{{ url_for('static', filename='arrows/forward-arrow.svg') }}" class="arrow">
              {% endif %}
            </span>

            <span class="ml-2">
              {{ log.alias }}
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block script %}
{% endblock %}
