{% extends 'default.html' %}

{% block title %}
  Billing
{% endblock %}

{% block head %}
{% endblock %}

{% block default_content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1> Billing </h1>

      <p>
        You are on the <b>{{ current_user.plan_name() }}</b> plan. Thank you very much for supporting SimpleLogin. 🙌
      </p>

      {% if sub.cancelled %}
        <p>
          Sad to see you go 😢. Your subscription ends {{ current_user.get_subscription().next_bill_date | dt }}.
        </p>

      {% else %}
        <div class="mt-3">
          Click here to update billing information on Paddle, our payment partner: <br>
          <a class="btn btn-success" href="{{ sub.update_url }}"> Update billing information </a>
        </div>

        <hr>

        <div>
          Don't want to protect your inbox anymore? <br>
          <a class="btn btn-warning" href="{{ sub.cancel_url }}"> Cancel subscription 😔 </a>
        </div>
      {% endif %}

    </div>

  </div>



{% endblock %}