{% extends 'default.html' %}

{% set active_page = "dashboard" %}

{% block title %}
  Custom Alias
{% endblock %}

{% block default_content %}

  <div class="col-md-6 offset-md-3">
    <h1 class="h3 mb-5">Custom Alias</h1>
    {% if error %}
      <div class="text-danger text-center mb-4">{{ error }}</div>
    {% endif %}

    <form method="post">
      <input type="hidden" name="form-name" value="non-custom-domain-name">

      <div class="form-group">
        {% if custom_domains %}
          <label class="form-label font-weight-bold">With SimpleLogin domain</label>
        {% endif %}

        <div class="row mt-4">
          <div class="col pr-1">
            <input name="email-prefix" class="form-control" pattern="[0-9|A-Z|a-z|-]{1,}"
                   title="Only letter, number or dash can be used."
                   placeholder="alias prefix"
                   autofocus required>
          </div>
          <div class="col align-self-center p-0" style="height:1.5rem">
            <input type="hidden" name="email-suffix" value="{{ email_suffix }}">
            <h4>
              .{{ email_suffix }}@{{ EMAIL_DOMAIN }}
            </h4>
          </div>
        </div>

        <div class="small-text">
          You can use letter, number or dash. Alias cannot be empty.
        </div>

        <button class="btn btn-primary">Create</button>
      </div>
    </form>

    {% if custom_domains %}
      <hr>
      <p class="font-weight-bold">OR with your custom domains</p>
      {% for custom_domain in custom_domains %}
        <form method="post" class="mb-6">
          <input type="hidden" name="form-name" value="custom-domain-name">
          <input type="hidden" name="custom-domain-id" value="{{ custom_domain.id }}">

          <div class="row mt-4">
            <div class="col">
              <input name="email" class="form-control">
            </div>
            <div class="col align-self-center">
              <input type="hidden" name="email-suffix" value="{{ email_suffix }}">
              <h4>
                @{{ custom_domain.domain }}
              </h4>
            </div>
            <div class="col">
              <button class="submit btn btn-sm btn-success">Create</button>
            </div>
          </div>

        </form>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}

