{% extends 'default.html' %}

{% block title %}
  Deleted Aliases
{% endblock %}

{% block head %}
{% endblock %}

{% block default_content %}
  <div style="max-width: 60em; margin: auto">
    <h1 class="h3 mb-5"> Deleted Aliases </h1>

    {% for deleted_alias in deleted_aliases %}
      <div class="my-4 p-4 card border-light">
        {{ deleted_alias.email }}
        <div class="small-text">
          Deleted {{ deleted_alias.created_at | dt }}
        </div>
      </div>
    {% endfor %}


  </div>
{% endblock %}