{% extends 'default.html' %}
{% set active_page = "setting" %}
{% block title %}
  SUDO MODE
{% endblock %}


{% block default_content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h2">Entering Sudo Mode</h1>
      <p>
        You are trying to change sensitive settings
      </p>
      <p>
        Please enter the password of your account so that we can ensure it's you.
      </p>

      <form method="post">
        {{ password_check_form.csrf_token }}

        <div class="font-weight-bold mt-5">Password</div>

        {{ password_check_form.password(class="form-control", autofocus="true") }}
        {{ render_field_errors(password_check_form.password) }}
        <button class="btn btn-lg btn-danger mt-2">Submit</button>
      </form>

    </div>
  </div>
{% endblock %}