{% extends 'default.html' %}
{% set active_page = "setting" %}
{% block title %}
  Cancel MFA
{% endblock %}


{% block default_content %}
  <div class="bg-white p-6" style="max-width: 60em; margin: auto">
    <h1 class="h2">Multi Factor Authentication</h1>
    <p>
      To cancel MFA, please enter the 6-digit number in your TOTP application (Google Authenticator, Authy, etc) here.
    </p>

    <form method="post">
      {{ otp_token_form.csrf_token }}

      <div class="font-weight-bold mt-5">Token</div>
      <div class="small-text">The 6-digit number displayed on your phone.</div>

      {{ otp_token_form.token(class="form-control", placeholder="") }}
      {{ render_field_errors(otp_token_form.token) }}
      <button class="btn btn-lg btn-danger mt-2">Cancel MFA</button>
    </form>


  </div>
{% endblock %}
