{% extends 'default.html' %}

{% set active_page = "dashboard" %}

{% block title %}
  Pricing
{% endblock %}

{% block head %}
  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  <script>
    if (window.Paddle === undefined) {
      console.log("cannot load Paddle from CDN");
      document.write('<script src="/static/vendor/paddle.js"><\/script>')
    }
  </script>

{% endblock %}

{% block default_content %}
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <div class="h3">Premium</div>

          <ul class="list-unstyled leading-loose mb-3">
            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>
              Unlimited aliases</li>
            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>
              Unlimited custom domains
            </li>
            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>
              Catch-all (or wildcard) aliases
            </li>
            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>
              Up to 50 directories (or usernames)
            </li>
            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>
              Unlimited mailboxes
            </li>
            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>
              PGP Encryption
            </li>
          </ul>

          <div class="small-text">More information is available on our <a href="https://simplelogin.io/pricing" target="_blank" rel="noopener">Pricing
            Page <i class="fe fe-external-link"></i>
          </a></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-6">
      <div class="display-6 my-3">
        🔐 Secure payments by
        <a href="https://paddle.com" target="_blank" rel="noopener">Paddle<i class="fe fe-external-link"></i></a></li>
        </a>
      </div>

      {% set sub = current_user.get_subscription() %}
      {% if sub and sub.cancelled %}
        <div class="alert alert-primary" role="alert">
          You have an active subscription until {{ sub.next_bill_date.strftime("%Y-%m-%d") }}. <br>
          Please note that if you re-subscribe now, this will be a completely
          new subscription and
          your payment method will be charged <b>immediately</b>.
        </div>
      {% endif %}

      <div class="mb-3">
        Paddle supported payment methods include bank cards (Mastercard, Visa, American Express, etc) or PayPal. <br>
        Send us an email at <a href="mailto:hi@simplelogin.io">hi@simplelogin.io</a> if you need other payment options
        (e.g. IBAN transfer).
      </div>

      <div class="alert alert-info">
        Black Friday Deal: 50% off on the yearly plan ($15/year instead of $29.99/year) with the coupon code
        <em data-toggle="tooltip"
            title="Click to copy"
            class="clipboard"
            data-clipboard-text="BLACKFRIDAY">BLACKFRIDAY</em>
        <br>
        Available until November 30.
      </div>

      <button class="btn btn-success" onclick="upgrade({{ PADDLE_MONTHLY_PRODUCT_ID }})">
        Monthly <br>
        $2.99/month
      </button>

      <button class="btn btn-primary" onclick="upgrade({{ PADDLE_YEARLY_PRODUCT_ID }})">
        Yearly <br>
        $29.99/year
      </button>
    </div>
  </div>


  <script type="text/javascript">
    Paddle.Setup({vendor: {{ PADDLE_VENDOR_ID }}});

    function upgrade(productId) {
      Paddle.Checkout.open({
        product: productId,
        success: "{{ success_url }}",
        passthrough: "{\"user_id\": {{current_user.id}} }"
      });
    }
  </script>

{% endblock %}
