{% extends "base.html" %}

{% block title %}
  Setup is done
{% endblock %}

{% block content %}
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col mx-auto" style="max-width: 34rem">
          <div class="text-center">
            <img src="/static/images/setup-done.png">
          </div>

          <div class="text-center">
            <h1>Setup is done!</h1>
            <h4>Now click on SimpleLogin button to create your alias!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
