flask_sqlalchemy
flask
flask_login
wtforms
unidecode
gunicorn
pip-tools
bcrypt
python-dotenv
ipython
sqlalchemy_utils
psycopg2-binary
sentry_sdk
blinker
arrow
Flask-WTF
boto3
Flask-Migrate
flask_admin
pytest
flask-cors
watchtower
sqlalchemy-utils
jwcrypto
yacron
flask-debugtoolbar
requests_oauthlib
pyopenssl
aiosmtpd
dnspython
coloredlogs
pycryptodome
phpserialize
dkimpy
pyotp
flask_profiler
facebook-sdk
google-api-python-client
google-auth-httplib2
python-gnupg
webauthn