<div>
  This is usually because your mailbox service thinks the email is <b>spam</b>.
</div>
<a href="/dashboard/refused_email" class="btn btn-primary">View bounced emails</a>
<div>The email is automatically deleted in 7 days.</div>
<div>
  Please consider the following options:
  <br />
  <ol>
    <li>
      If the email is not spam, you can create a
      <a href="https://simplelogin.io/docs/getting-started/troubleshooting/">filter</a>
      to explicitly allow all emails from SimpleLogin.
      <br />
    </li>
    <li>
      If this email is indeed spam, it means your alias {{ alias.email }} is now in the hands of a spammer.
      You can either
      <a href="{{ disable_alias_link }}">disable the alias</a>
      or
      <a href="{{ block_sender_link }}">block the sender</a>
      if they send too many spams.
    </li>
  </ol>
</div>
<div class="alert alert-warning">
  Please note that the alias can be automatically disabled if too many emails sent to it are bounced.
</div>
