<div>
  This might mean {{ contact.email }}
  <ul>
    <li>is not a valid email address, or</li>
    <li>doesn't exist, or</li>
    <li>its mail server refuses your email</li>
  </ul>
</div>

<a href="{{ refused_email_url }}" class="btn btn-primary">
  View the bounced email
</a>

<div>
  The email is automatically deleted in 7 days.
</div>

<div>
  Please consider the following options: <br>

  <ol>
    <li>If the email is not spam, you can create a
      <a href="https://simplelogin.io/docs/getting-started/troubleshooting/">filter</a>
      to explicitly allow all emails from SimpleLogin. <br>
    </li>

    <li>
      If this email is indeed spam, it means your alias {{ alias.email }} is now in the hands of a spammer.
      You can either <a href="{{ disable_alias_link }}">disable the alias</a>
      or <a href="{{ block_sender_link }}">block the sender</a> if they send too many spams.
    </li>
  </ol>


</div>




