{% from "_formhelpers.html" import render_field, render_field_errors %}

{% extends "single.html" %}

{% block title %}
  Become Partner
{% endblock %}

{% block single_content %}
  {% if error %}
    <div class="text-danger text-center mb-4">{{ error }}</div>
  {% endif %}

  <form class="card" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <div class="card-title">Together, let's create the best login experience for users!</div>
      <p class="text-muted">Becoming a partner will give you access to technical resources on SimpleLogin.</p>

      <div class="form-group">
        <label class="form-label">Your Email</label>
        {{ form.email(class="form-control", type="email", placeholder="partner@my-app.com", value=current_user.email) }}
        {{ render_field_errors(form.email) }}
      </div>

      <div class="form-group">
        <label class="form-label">Your Business Name</label>
        {{ form.name(class="form-control", placeholder="My App Inc", value=current_user.name) }}
        {{ render_field_errors(form.name) }}
      </div>

      <div class="form-group">
        <label class="form-label">Your Website/App URL</label>
        {{ form.website(class="form-control", type="url", placeholder="https://my-app.com") }}
        {{ render_field_errors(form.website) }}
      </div>

      <!-- Possibility to bypass using promo code. Only applied for user already authenticated -->
      {% if current_user.is_authenticated %}
        <hr>
        <h4 class="text-center">
          Or if you have a <em>partner code</em>, you can become a partner right away!
        </h4>
        <br>

        <div class="form-group">
          <label class="form-label">Partner Code</label>
          {{ form.partner_code(class="form-control", type="text", placeholder="Partner Code") }}
          {{ render_field_errors(form.partner_code) }}
        </div>
      {% endif %}

      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">Become a Partner</button>
      </div>
    </div>
  </form>
{% endblock %}