This email is sent to {{ to_email }} and is part of our onboarding series.
Unsubscribe from our emails on {{URL}}/dashboard/setting#notification
----------------

Hi

Do you know you can send an email to anyone from your alias?
This below Youtube video walks you quickly through the steps:

https://youtu.be/GN060XMt6Pc

Here are the steps:
1. First click "Contacts" on your alias you want to send email from
2. Enter your contact email, create a "reverse-alias"
3. Use this reverse-alias instead of your contact email when composing your email

And voilà, your contact will receive this email sent from your alias!
Your real mailbox address will stay hidden.

Best regards,
SimpleLogin Team.