Welcome to SimpleLogin, a service developed by Proton to protect your email address!

This is the first email you receive via your first alias {{ to_address }}

This alias is automatically created when you use SimpleLogin for the first time.
Emails sent to it are forwarded to your Proton mailbox.
If you want to reply to an email, just hit "Reply" and the response will come from your alias.
Your personal email address stays hidden.

To create new aliases, use the SimpleLogin browser extension (recommended) or web dashboard.
SimpleLogin is available on Chrome, Firefox, and Edge.
SimpleLogin is also available on Android and iOS so you can manage your aliases on the go.

Note, if you are a paying Proton Mail user, you automatically receive the premium version of SimpleLogin.

For any question, feedback or feature request, please join our GitHub forum.
You can also join our Reddit or follow our Twitter.

Best,
SimpleLogin Team.

---
Links:
Chrome: https://chrome.google.com/webstore/detail/dphilobhebphkdjbpfohgikllaljmgbn
Firefox: https://addons.mozilla.org/firefox/addon/simplelogin/
Edge: https://microsoftedge.microsoft.com/addons/detail/simpleloginreceive-sen/diacfpipniklenphgljfkmhinphjlfff
Android: https://play.google.com/store/apps/details?id=io.simplelogin.android
iOS: https://apps.apple.com/app/id1494359858
Github forum: https://github.com/simple-login/app/discussions
Reddit: https://www.reddit.com/r/Simplelogin/
Twitter: https://twitter.com/simple_login


