{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>Action Required: {{ mailbox.email }} will be disabled.</h1>
  {% endcall %}

  {% call text() %}
    This is a warning that your mailbox may be disabled by {{ SERVICE_PROVIDER }} administrators.
    <br />
    If no action is taken, you will not be able to receive emails forwarded to this mailbox.
  {% endcall %}

  {% call text() %}
    If you have any questions or concerns, please contact support immediately.
  {% endcall %}

  {% call text() %}
    Best,
    <br />
    SimpleLogin Team.
  {% endcall %}

{% endblock %}
