{% extends "base.txt.jinja2" %}

{% block content %}
{{ mailbox.email }} has been re-enabled.

Good news! Your mailbox has been re-enabled by {{ SERVICE_PROVIDER }} administrators.
You can now receive emails forwarded to this mailbox again.

If you have any questions, please contact support.
{% endblock %}
