{% extends "base.txt.jinja2" %}

{% block content %}
Hi,

Thank you for choosing SimpleLogin.

To get started, please activate your account by entering the following code into the application:

{{code}}
{% endblock %}
