{% extends "base.txt.jinja2" %}

{% block content %}
Hi,

Thank you for choosing SimpleLogin.

To get started, please activate your account by entering the following code into the application:

{{code}}

If it wasn't you, maybe someone entered your email by mistake. In this case you can ignore this mail.
{% endblock %}
