{% extends "base.html" %}

{% block content %}
  {% call text() %}
    <h1>
      <b>{{ custom_domain.domain }}</b> does not have the DNS set up correctly
    </h1>
  {% endcall %}

  {% call text() %}
    Please make sure to set up your domain following the instructions on your domain DNS page at
    <a href="{{ domain_dns_url }}">{{ custom_domain.domain }} DNS</a>.
  {% endcall %}

  {% call text() %}
    Feel free reply to this email if you have any question. <br>
    Best, <br>
    SimpleLogin team.
  {% endcall %}

{% endblock %}


