{% extends "base.txt.jinja2" %}

{% block content %}
Hi,

{% if is_proton -%}
As a Proton user with a paid mail subscription you can have SimpleLogin premium for free, thanks to the SimpleLogin Proton integration.
{% else -%}}
{{ partner.name }} has upgraded your account to premium.
{% endif -%}
You currently have a paid SimpleLogin subscription via {subscription_channel}.
{% if subscription_channel == 'Apple' %}
You can cancel it to avoid automatic renewal on your Apple iCloud account page.
Please find more info at https://support.apple.com/en-us/HT202039
{% elif subscription_channel == 'Paddle' %}
You can cancel it to avoid automatic renewal on {{ cancel_link }}.
{% endif %}
You can also keep both subscriptions. In this case there’s nothing to do.

Best,
SimpleLogin team.
{% endblock %}
