{% extends "base.html" %}

{% block content %}
  {% call text() %}
    Hi,
  {% endcall %}

  {% call text() %}
    {% if is_proton %}
    As a proton user with a paid mail subscription you can have SimpleLogin premium for free, thanks to the SimpleLogin-Proton integration.<br>
    {% else %}
    {{ partner.name }} has upgraded your account to premium.<br>
    {% endif %}
    You currently have a paid SimpleLogin subscription via {{ subscription_channel }}.<br>
    {% if subscription_channel == 'apple' %}
    You can cancel it to avoid automatic renewal on your Apple iCloud account page.
    You can find more info <a href="https://support.apple.com/en-us/HT202039">here</a>.<br>
    {% elif subscription_channel == 'paddle' %}
    You can cancel it to avoid automatic renewal on <a href="{{ cancel_link }}">{{ cancel_link }}</a>.<br>
    {% endif %}
    You can also keep both subscriptions. In this case there’s nothing to do.
  {% endcall %}

  {% call text() %}
    Best, <br>
    SimpleLogin team.
  {% endcall %}
{% endblock %}
