{% extends "base.txt.jinja2" %}

{% block content %}
Hi,

This is SimpleLogin team.

Hotmail has informed us about an email sent to {{ alias.email }} that might have been considered as spam,
either by you or by Hotmail spam filter.

Please note that explicitly marking a SimpleLogin's forwarded email as Spam affects SimpleLogin email delivery,
has a negative effect for all users and is a violation of our terms and condition.

If that’s the case, please disable the alias instead if you don't want to receive the emails sent to this alias.

If somehow Hotmail considers a forwarded email as Spam, it will help us if you can move the email out of the Spam folder.
You can also set up a filter to avoid this from happening in the future using this guide at https://simplelogin.io/help/

Looking to hear back from you.
{% endblock %}
