{% extends "base.txt.jinja2" %}

{% block content %}
Hi,

This is SimpleLogin team.

Hotmail has informed us about an email sent from your alias {{ alias.email }} to {{ destination }} that might have been considered as spam, either by the recipient or by their Hotmail spam filter.

Please note that sending non-solicited from a SimpleLogin alias infringes our terms and condition as it  severely affects SimpleLogin email delivery.

If somehow the recipient's Hotmail considers a forwarded email as Spam, it helps us a lot if you can ask them to move the email out of their Spam folder.

Looking to hear back from you.
{% endblock %}
