{% extends "base.txt.jinja2" %}

{% block content %}
Hi,

This is SimpleLogin team.

{{ provider  }} has informed us about an email sent to {{ user.email }} that might have been marked as spam.

Please note that explicitly marking a SimpleLogin's forwarded email as Spam affects SimpleLogin email delivery,
has a negative effect for all users and is a violation of our terms and condition.

If that’s the case, please disable the alias instead if you don't want to receive the emails sent to this alias.

If SimpleLogin isn’t useful for you, please know that you can simply delete your account on the Settings page.

Don't hesitate to get in touch with us if you need more information.
{% endblock %}
