{% extends "base.html" %}

{% block content %}
  {{ render_text("When you recently logged in to SimpleLogin, we checked your password against a list of breached passwords.") }}
  {{ render_text("Your SimpleLogin password has appeared in this list, we suggest that you change your password.") }}
  {{ render_button("Change your password", URL ~ "/dashboard/setting#change_password") }}

  {{ render_text("For more information, please visit https://haveibeenpwned.com/Passwords") }}

  {{ render_text('Thanks, <br />SimpleLogin Team.') }}
  {{ raw_url(URL ~ "/dashboard/setting#change_password") }}
{% endblock %}
