{% extends "base.html" %}

{% block content %}

  {{ render_text("You recently requested to reset your password on SimpleLogin.") }}
  {{ render_text("Use the button below to reset it. <b>This password reset is only valid for the next hour.</b>") }}
  {{ render_button("Reset your password", reset_password_link) }}
  {{ render_text("If the button has expired, you can request a new link by following the same process as before.") }}
  {{ render_text("If you did not request a password reset, no further action is required.") }}
  {{ render_text('Thanks,
  <br />
  SimpleLogin Team.') }}
  {{ raw_url(reset_password_link) }}
{% endblock %}
