{% extends "base.html" %}

{% block content %}

    {{ render_text("Hello,") }}
    {{ render_text("As part of our ongoing security monitoring, we regularly check public and dark web data sources for potential exposures that could affect our users. During one of these routine checks, we discovered that your email and password combination appeared in a recently published data dump.") }}
    {{ render_text("To protect your account, <b>we have temporarily disabled login access</b> until your password is reset.") }}
    {{ render_text("<b>What you need to do:</b>") }}
    {{ render_text("<ol>") }}
    {{ render_text("<li>Go to <a href=\"" + password_reset_link + "\">Forgot my password</a> to set a new password.</li>") }}
    {{ render_text("<li>Choose a strong, unique password that you haven’t used anywhere else.</li>") }}
    {{ render_text("<li>Once your new password is set, we highly recommend <b>enabling Two-Factor Authentication (2FA)</b> in your <a href=\"" + account_link +"\">account settings</a> for an extra layer of protection.</li>") }}
    {{ render_text("</ol>") }}

    {{ render_text("Please note: there’s no indication that our systems have been breached. This action is a precautionary measure to help ensure your continued security.") }}
    {{ render_text("We understand that security alerts can be concerning, but this type of monitoring is one of the ways we keep your account safe. If you have any questions or need help resetting your password, our support team is available.") }}
    {{ render_text('Thanks,
    <br />
    SimpleLogin Team.') }}

{% endblock %}
