{% extends "base.html" %}

{% block content %}
  {{ render_text("Hi " + name) }}

  {% call text() %}
    We have recorded an attempt to send an email from your alias <b>{{ alias }}</b> from an unknown IP address
    <b>{{ ip }}</b>.
  {% endcall %}

  {% call text() %}
    To prevent email-spoofing, SimpleLogin enforces the SPF (Sender Policy Framework).
    Emails sent from an IP address that is <b>unknown</b> by your email service are refused by default.
  {% endcall %}

  {% call text() %}
    However you can turn off this option by going to {{ mailbox_url }}.
  {% endcall %}

  {% call text() %}
    Please only turn this protection off this if you know what you're doing :).
  {% endcall %}

  {{ render_text('Thanks, <br />SimpleLogin Team.') }}
{% endblock %}
