{% extends "base.html" %}

{% block content %}

    {% call text() %}
        <h1>
            An attempt to send a fake email to {{ contact.email  }} from your alias <b>{{ alias.email }}</b> using <b>{{ sender }}</b> has been blocked.
        </h1>
    {% endcall %}

    {% call text() %}
        As a measure to protect against <b>email spoofing</b>, we have blocked an attempt to send an email from your alias <b>{{ alias.email }}</b> using <b>{{ sender }}</b>.
    {% endcall %}

    {% call text() %}
        Best, <br/>
        SimpleLogin Team.
    {% endcall %}
{% endblock %}

