{% extends "base.txt.jinja2" %}

{% block content %}
Unauthorized attempt to send an email to {{ contact.email }} from your alias {{ alias.email }} using
{{ sender }} has been blocked.

To protect against email spoofing, only your mailbox can send emails on behalf of your alias.
SimpleLogin also refuses emails that claim to come from your mailbox but fail DMARC.
{% endblock %}

