{% extends "base.txt.jinja2" %}

{% block content %}
Hi

You have added {{mailbox.email}} as an additional mailbox.

{% if mailbox.verification_code is not none -%}
To confirm, please write this code to verify:

{{ str(mailbox.verification_code).zfill(6) }}
{% else -%}
To confirm, please click on this link:

{{link}}
{% endif %}

This email will only be valid during the next 15 minutes.
{% endblock %}
