{% extends "base.txt.jinja2" %}

{% block content %}
Hello,

Your have tried to register multiple times to {{service}}, and this is against the terms of service of SimpleLogin. Please don't do that anymore.

If you continue registering multiple accounts to a single service we will have to disable your account.
{% endblock %}
