Hi,

This is SimpleLogin team.

Yahoo has informed us about an email sent to {{ alias.email }} that might have been marked as spam.

Putting a forwarded email into Spam affects SimpleLogin email delivery, has a negative effect for all users and
  is a violation of our terms and condition.

If that’s the case, please disable the alias instead if you don't want to receive the emails sent to this alias.

If SimpleLogin isn’t useful for you, please know that you can simply delete your account on the Settings page.

Looking to hear back from you.

Best,
SimpleLogin Team.