{% extends 'default.html' %}

{% block title %}
  Authorization
{% endblock %}

{% block default_content %}
  <form class="card" method="post" style="max-width: 40rem; margin: auto">
    <div class="card-body p-6">
      <!-- User has already authorized this client -->
      {% if client_user %}
        <div class="card-title">
          You have already authorized <b>{{ client.name }}</b>.
        </div>

        <hr>

        <div class="mb-4">
          <b>{{ client.name }}</b> has access to the following information:
        </div>
        <div>
          {% for scope in client.get_scopes() %}
            <div>
              {% if scope == Scope.AVATAR_URL and user_info[scope.value] %}
                avatar: <img src="{{ user_info[scope.value] }}" class="avatar">
              {% elif scope == Scope.EMAIL %}
                {{ scope.value }}:
                <a href="mailto:{{ user_info[scope.value] }}">
                  {{ user_info[scope.value] }}
                </a>
              {% elif scope == Scope.NAME %}
                {{ scope.value }}: <b>{{ user_info[scope.value] }}</b>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% if client.icon_id %}
          <div class="text-center">
            <img src="{{ client.get_icon_url() }}" class="small-client-icon">
          </div>
        {% endif %}

        <div class="text-center mt-4">
          <b>{{ client.name }}</b> will receive the following info
        </div>

        <div class="row mt-4 md-4">
          <div class="col-md-3 text-left">
            <label style="padding-top: .5rem">Email</label>
          </div>
          <div class="col-md-9">
            <select class="custom-select custom-select" name="suggested-email">
              <option selected value="{{ suggested_email }}">{{ suggested_email }}</option>
              <option value="{{ personal_email }}">{{ personal_email }}</option>
              {% for email in other_emails %}
                <option value="{{ email }}">{{ email }}</option>
              {% endfor %}
            </select>

            {% if current_user.can_create_custom_email() %}
              <div class="mt-2">OR</div>
              <div style="display: flex; align-items: center" class="mt-2">
                <input class="form-control" style="flex-grow: 2" name="custom-email-prefix">
                <input type="hidden" name="email-suffix" value="{{ email_suffix }}">
                <div class="ml-2">
                  .{{ email_suffix }}@{{ EMAIL_DOMAIN }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-3 text-left">
            <label>Name</label>
          </div>
          <div class="col-md-9">
            {{ current_user.name }}
          </div>
        </div>

        {% if current_user.profile_picture_id %}
          <div class="row mt-4">
            <div class="col-md-3 text-right">
              <label>Avatar</label>
            </div>
            <div class="col-md-9">
              <img class="profile-picture" href="{{ current_user.profile_picture_url() }}">
            </div>
          </div>
        {% endif %}


      {% endif %}

      {% if client_user %}
        <div class="form-footer">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" name="button" value="allow"
                    class="btn btn-success">Allow
            </button>

            <a class="btn btn-light" href="javascript:history.back()">
              Cancel
            </a>
          </div>
        </div>
      {% else %}
        <div class="form-footer">
          <div class="btn-group btn-block" role="group" aria-label="Basic example">
            <button type="submit" name="button" value="allow"
                    class="btn btn-success">Allow
            </button>

            <button type="submit" name="button" value="deny"
                    class="btn btn-light">Deny
            </button>
          </div>
        </div>
      {% endif %}

    </div>
  </form>
{% endblock %}