{% extends "base.html" %}

{% block content %}
  {{ render_text("Hi " + name) }}
  {{ render_text("This is Son, SimpleLogin founder.") }}
  {{ render_text("Even though I lead the company, I’m the *product person* and the user experience you get from our product means a lot to me.") }}
  {{ render_text('Our users and developers love SimpleLogin and its simplicity (hence the "simple" in the name), but if there\'s anything that\'s bugging you, even the smallest of issues that could be done better, I want to hear about it - so hit the reply button.') }}
  {{ render_button("SimpleLogin documentation", "https://docs.simplelogin.io") }}
  {{ render_text('Thanks, <br />SimpleLogin Team.') }}
{% endblock %}

