{% extends "base.html" %}

{% block content %}
  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 14px; font-weight: 400; line-height: 160%;
			padding-top: 25px;
			color: #000000;
			font-family: sans-serif;" class="paragraph">
      This email is sent to {{ user.email }} and is part of our onboarding series.
      Unsubscribe on <a href="https://app.simplelogin.io/dashboard/setting#notification">Settings</a>
      <hr>
    </td>
  </tr>

  {{ render_text("Hi " + user.name) }}
  {{ render_text("Do you know you can send emails to anyone from your alias?") }}
  {{ render_text("This Youtube video quickly walks you through the steps:") }}

  {{ render_text('<a href="https://youtu.be/VsypF-DBaow">https://youtu.be/VsypF-DBaow</a>') }}

  {{ render_text("Here are the steps:") }}
  {{ render_text("1. First click <b>Send Email</b> on your alias you want to send email from.") }}
  {{ render_text('<img src="https://static.simplelogin.io/send-from-alias/1.png" style="max-width: 500px">') }}

  {{ render_text("2. Enter your contact email, this will generate a <b>reverse-alias</b>.") }}
  {{ render_text('<img src="https://static.simplelogin.io/send-from-alias/2.png" style="max-width: 500px">') }}

  {{ render_text("3. Use this reverse-alias <b>instead of your contact email</b>.") }}
  {{ render_text('<img src="https://static.simplelogin.io/send-from-alias/3.png" style="max-width: 500px">') }}

  {{ render_text("4. Your contact will receive this email from your alias.") }}
  {{ render_text('<img src="https://static.simplelogin.io/send-from-alias/4.png" style="max-width: 500px">') }}

  {{ render_text("As usual, let me know if you have any question by replying to this email.") }}

{% endblock %}

