{% extends "base.html" %}

{% block content %}
  {{ render_text("This email is sent to " + user.email + " and is part of our onboarding series.") }}

  {{ render_text('Unsubscribe from our emails on <a href="https://app.simplelogin.io/dashboard/setting#notification">https://app.simplelogin.io/dashboard/setting#notification</a>') }}

  {{ render_text("<hr>") }}

  {{ render_text("Hi " + user.name) }}
  {{ render_text("Do you know you can send emails to anyone from your alias?") }}
  {{ render_text("This Youtube video quickly walks you through the steps:") }}

  {{ render_text('<a href="https://youtu.be/VsypF-DBaow">https://youtu.be/VsypF-DBaow</a>') }}

  {{ render_text("Here are the steps:") }}
  {{ render_text("1. First click <b>Send Email</b> on your alias you want to send email from.") }}
  {{ render_text("2. Enter your contact email, this will generate a <b>reverse-alias</b>.") }}
  {{ render_text("3. Use this reverse-alias <b>instead of your contact email</b>.") }}
  {{ render_text("4. Your contact will receive this email from your alias.") }}

  {{ render_text("As usual, let me know if you have any question by replying to this email.") }}

{% endblock %}

