{% extends "single.html" %}

{% block title %}
  Change Email
{% endblock %}

{% block single_content %}
  {% if error %}
    <div class="text-danger text-center mb-4">{{ error }}</div>
  {% endif %}

  {% if incorrect_code %}
    <div class="text-danger text-center h4">
      The link is incorrect. <br><br>
      Please go to <a href="{{ url_for('dashboard.setting') }}"
                      class="btn btn-warning">settings</a>
      page to re-send confirmation email.
    </div>
  {% endif %}

  {% if expired_code %}
    <div class="text-danger text-center h4">
      The link is already expired. <br><br>
      Please go to <a href="{{ url_for('dashboard.setting') }}"
                      class="btn btn-warning">settings</a>
      page to re-send confirmation email.
    </div>
  {% endif %}

{% endblock %}