{% extends "single.html" %}

{% block title %}
  Login
{% endblock %}

{% block single_content %}


  {% if show_resend_activation %}
    <div class="text-center text-muted small mb-4">
      You haven't received the activation email?
      <a href="{{ url_for('auth.resend_activation') }}">Resend</a>
    </div>
  {% endif %}

  <form class="card" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <div class="card-title">Welcome back!</div>
      <div class="form-group">
        <label class="form-label">Email address</label>
        {{ form.email(class="form-control", type="email", autofocus="true") }}
        {{ render_field_errors(form.email) }}
      </div>

      <div class="form-group">
        <label class="form-label">
          Password
        </label>
        {{ form.password(class="form-control", type="password") }}
        {{ render_field_errors(form.password) }}
        <div class="text-muted">
          <a href="{{ url_for('auth.forgot_password') }}" class="small">
            I forgot my password
          </a>
        </div>
      </div>

      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </div>


    </div>
  </form>

  <div class="text-center text-muted mt-2">
    Don't have an account yet? <a href="{{ url_for('auth.register') }}">Sign up</a>
  </div>

  {% if GITHUB_CLIENT_ID or GOOGLE_CLIENT_ID or FACEBOOK_CLIENT_ID %}
  <div class="text-center text-muted mt-5">
    <a href="{{ url_for('auth.social') }}">Social Login</a> is now deprecated
  </div>
  {% endif %}

{% endblock %}