{% extends "single.html" %}

{% block title %}
  Register
{% endblock %}

{% block head %}
  <style>
    .col-login {
      max-width: 48rem;
    }
  </style>
{% endblock %}


{% block single_content %}
  <div class="row">
    <div class="col-md-6">
      <form class="card" method="post">
        {{ form.csrf_token }}
        <div class="card-body p-6">
          <div class="card-title">Create new account</div>

          <div class="form-group">
            <label class="form-label">How should we call you?</label>
            {{ form.name(class="form-control") }}
            {{ render_field_errors(form.name) }}
          </div>

          <div class="form-group">
            <label class="form-label">Email address</label>
            {{ form.email(class="form-control", type="email") }}
            {{ render_field_errors(form.email) }}
          </div>

          <div class="form-group">
            <label class="form-label">Password</label>
            {{ form.password(class="form-control", type="password") }}
            {{ render_field_errors(form.password) }}
          </div>

          <!-- TODO: add terms
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"/>
              <span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
            </label>
          </div>
          -->

          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Create new account</button>
          </div>
        </div>
      </form>

      <div class="text-center text-muted">
        Already have account? <a href="{{ url_for('auth.login') }}">Sign in</a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body p-6">
          <div class="card-title">Social sign up</div>

          <a href="{{ url_for('auth.github_login') }}" class="btn btn-block btn-social btn-github">
            <i class="fa fa-github"></i> Sign up with Github
          </a>
      </div>
    </div>
  </div>

{% endblock %}