{% extends "base.html" %}

{% block content %}

  {{ render_text("Hi") }}
  {{ render_text("Our most requested feature is finally ready: you can now add several <b>real</b> email addresses into SimpleLogin
  and choose which one to use when creating aliases!") }}
  {{ render_text("A real email address is called <b>mailbox</b> in SimpleLogin.") }}
  {{ render_text('This feature is particularly useful if you have several email addresses,
  maybe for different uses: a Gmail account for social networks & forums, a Prontonmail account for professional emails, etc.') }}
  <img src="https://simplelogin.io/blog/mailbox-gmail.png"
       alt="Mailbox Gmail">
  <img src="https://simplelogin.io/blog/mailbox-protonmail.png"
       alt="Mailbox Proton Mail">
  {{ render_text("When creating an alias, you can choose which mailbox that <b>owns</b> this alias, meaning:") }}
  {{ render_text("1. Emails sent to this alias are *forwarded* to the owning mailbox.") }}
  {{ render_text("2. The owning mailbox can *send* or reply emails from this alias.") }}
  {{ render_text("You can also change the owning mailbox for an existing alias.") }}
  {{ render_text("The mailbox doesn't have to be your personal email: you can also create aliases for your friend by adding his/her email as a mailbox.") }}
  {{ render_text('Thanks,
  <br />
  SimpleLogin Team.') }}
  {{ render_text('<strong>P.S.</strong> Need immediate help getting started? Just reply to this email, the SimpleLogin support team is always ready to help!.') }}
{% endblock %}
{% block footer %}

  This email is sent to {{ user.email }}. Unsubscribe on
  <a href="{{ URL }}/dashboard/setting#notification">Settings</a>
{% endblock %}
