{% extends "base.html" %}

{% block content %}
  {% if name %}
    {{ render_text("Hi " + name + ",") }}
  {% else %}
    {{ render_text("Hi,") }}
  {% endif %}

  {{ render_text("Your trial will end " + user.trial_end.humanize() + ".") }}

  {{ render_text("When the trial ends:") }}

  {{ render_text("- All aliases/domains/directories you have created and <b>kept</b> and continue working.") }}
  {{ render_text("- You cannot create new aliases if you exceed the free plan limit, i.e. have more than 5 aliases.") }}
  {{ render_text("- As features like <b>catch-all</b> or <b>directory</b> allow you to create aliases on-the-fly, those aliases cannot be automatically created if you have more than 5 aliases.") }}
  {{ render_text("- You cannot add new domain or directory.") }}

  {{ render_text('You can <a href="https://app.simplelogin.io/dashboard/pricing">upgrade</a> today to continue using all these Premium features (and much more coming).') }}

  {{ render_text('Let me know if you need to extend your trial period.') }}


{% endblock %}

