{% extends "base.html" %}

{% block content %}
  {{ render_text("Welcome " + name + "  🎉!") }}
  {{ render_text("I really appreciate you signing up for SimpleLogin, and I'm sure you'll love it when you see how *simple* it is to use.") }}
  {{ render_text("We built SimpleLogin to help people protecting their online identity, and I hope that we can achieve that for you.") }}

  <!-- LINE -->
  <!-- Set line color -->
  <tr>
    <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;" class="line">
      <hr
          color="#E0E0E0" align="center" width="100%" size="1" noshade style="margin: 0; padding: 0;"/>
    </td>
  </tr>

  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: 700; line-height: 200%;
			padding-top: 25px;
			color: #000000;
			font-family: sans-serif;" class="paragraph">
      Join our Community
    </td>
  </tr>

  {{ render_text("Click the button 👇 to join our community on Spectrum and learn news about the SimpleLogin. We are community driven and we value feedbacks from you!") }}

  {{ render_button("Join Spectrum Community", "https://spectrum.chat/simplelogin") }}

{% endblock %}

