.profile-picture {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    margin-top: 10px;
}

.client-icon {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 10%;

    margin-top: 10px;
}

.small-client-icon {
    /* make a square container */
    width: 40px;
    height: 40px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 10%;

    margin-top: 10px;
}

.small-profile-picture {
    /* make a square container */
    width: 60px;
    height: 60px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    margin-top: 10px;
}

/* highlighted table row */
.highlight-row {
    border-top: solid #5675E2;
}

.arrow {
    width: 20px;
}

em {
    font-style: normal;
    background-color: #FFFF00;
    padding: 0 4px;
}

.small-text {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0px;
}

.copy-btn {
    font-size: 0.6rem;
    line-height: 0.75;
}

.cursor {
    cursor: pointer;
}

/* Alias log page */
.card-counter {
    box-shadow: 2px 2px 10px var(--input-bg-color);
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary {
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
  }

  .card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
  }

  .card-counter.info {
    background-color: #26c6da;
    color: #FFF;
  }

  .card-counter i {
    font-size: 2em;
    opacity: 0.2;
  }

  .card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }