.profile-picture {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    margin-top: 10px;
}

.client-icon {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 10%;

    margin-top: 10px;
}

.small-client-icon {
    /* make a square container */
    width: 40px;
    height: 40px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 10%;

    margin-top: 10px;
}

.small-profile-picture {
    /* make a square container */
    width: 60px;
    height: 60px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    margin-top: 10px;
}

/* highlighted table row */
.highlight-row {
    background-color: #eee;
    font-weight: bolder;
}

.arrow {
    width: 50px;
}