{% extends 'default.html' %}

{% set active_page = "developer" %}

{% block title %}
  Developer - Edit client
{% endblock %}

{% block default_content %}
  <div class="col-md-8 offset-md-2">
    <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}

      <h3>App Info</h3>
      <div class="form-group">
        <label class="form-label">Display Name</label>
        {{ form.name(class="form-control", value=client.name) }}
        {{ render_field_errors(form.name) }}
      </div>

      {#      <div class="form-group">#}
      {#        <label class="form-label">Website URL</label>#}
      {#        {{ form.home_url(class="form-control", type="url", value=client.home_url or "",#}
      {#          placeholder="https://mywebsite.com") }}#}
      {#        {{ render_field_errors(form.home_url) }}#}
      {#      </div>#}


      <div class="form-group">
        <div class="form-label">App Icon</div>
        {{ form.icon(class="form-control-file") }}
        {{ render_field_errors(form.icon) }}

        {% if client.icon_id %}
          <img src="{{ client.icon.get_url() }}" class="client-icon">
        {% endif %}
      </div>

      <hr>
      <h3>OpenID/OAuth2 parameters</h3>

      <div class="form-group">
        <label class="form-label">OAuth2 Client ID</label>

        <div class="input-group mt-2">
          <input disabled type="text" value="{{ client.oauth_client_id }}" class="form-control">
          <span class="input-group-append">
          <button
              data-clipboard-text="{{ client.oauth_client_id }}"
              class="clipboard btn btn-primary" type="button">
            <i class="fe fe-clipboard"></i>
          </button>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">OAuth2 Client Secret</label>

        <div class="input-group mt-2">
          <input disabled type="password" value="{{ client.oauth_client_secret }}" class="form-control">
          <span class="input-group-append">
          <button
              data-clipboard-text="{{ client.oauth_client_secret }}"
              class="clipboard btn btn-primary" type="button">
            <i class="fe fe-clipboard"></i>
          </button>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Authorization endpoint</label>

        <div class="input-group mt-2">
          <input type="text" disabled value="https://app.simplelogin.io/oauth2/authorize" class="form-control">
          <span class="input-group-append">
          <button
              data-clipboard-text="https://app.simplelogin.io/oauth2/authorize"
              class="clipboard btn btn-primary" type="button">
            <i class="fe fe-clipboard"></i>
          </button>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Token endpoint</label>

        <div class="input-group mt-2">
          <input type="text" disabled value="https://app.simplelogin.io/oauth2/token" class="form-control">
          <span class="input-group-append">
          <button
              data-clipboard-text="https://app.simplelogin.io/oauth2/token"
              class="clipboard btn btn-primary" type="button">
            <i class="fe fe-clipboard"></i>
          </button>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">UserInfo endpoint</label>

        <div class="input-group mt-2">
          <input type="text" disabled value="https://app.simplelogin.io/oauth2/userinfo" class="form-control">
          <span class="input-group-append">
          <button
              data-clipboard-text="https://app.simplelogin.io/oauth2/userinfo"
              class="clipboard btn btn-primary" type="button">
            <i class="fe fe-clipboard"></i>
          </button>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Authorized URIs</label>

        {% for redirect_uri in client.redirect_uris %}
          <div class="input-group mt-2">
            <input type="url" name="uri" class="form-control" value="{{ redirect_uri.uri }}" required>

            <span class="input-group-append">
            <button class="remove-uri btn btn-primary" type="button">
              <i class="fe fe-x"></i>
            </button>
          </span>

          </div>
        {% endfor %}

        <div id="new-uris">
          <!-- New uri will be put here -->
        </div>


        <button type="button" id="create-new-uri" class="mt-2 btn btn-secondary">Add new uri</button>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary btn-lg">Update</button>
    </form>

    <!-- template for new uri -->
    <div class="input-group mt-2" id="hidden-uri" style="display: none">
      <input type="url" name="uri" class="form-control" required>

      <span class="input-group-append">
      <button class="remove-uri btn btn-primary" type="button">
        <i class="fe fe-x"></i>
      </button>
    </span>

    </div>

  </div>

{% endblock %}

{% block script %}
  <script type="text/x-template" id="course-detail">
    <h1> ALO </h1>
  </script>

  <script>
    $("#create-new-uri").on("click", function (e) {
      var clone = $("#hidden-uri").clone(true, true); // (true, true) to clone withDataAndEvents, deepWithDataAndEvents
      clone.removeAttr("id");

      $("#new-uris").append(clone);
      clone.show();
    });

    $(".remove-uri").click(function (e) {
      var currentElement = $(this);
      currentElement.parent().parent().remove();
    });

  </script>
{% endblock %}
