{% extends 'default.html' %}

{% set active_page = "developer" %}

{% block title %}
  Developer - Create new app
{% endblock %}

{% block default_content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h3">Create new app</h1>
      <p>An app can be a website, a SPA webapp or a mobile application</p>
      <p>Let's get started integrating SimpleLogin into your app! </p>

      <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="form-group">
          <label class="form-label">Display Name</label>
          {{ form.name(class="form-control",
      placeholder="Usually your product name, e.g. my-super-app.com") }}
          {{ render_field_errors(form.name) }}
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>

{% endblock %}
