{% from "_formhelpers.html" import render_field, render_field_errors %}

<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en"/>
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#4188c9">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>

  <title>
    {% block title %}{% endblock %} | SimpleLogin
  </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

  <!-- Dashboard Core -->
  <link href="/static/assets/css/dashboard.css" rel="stylesheet"/>

  <!-- Tabler JS -->
  <script src="/static/assets/js/vendors/jquery-3.2.1.min.js"></script>
  <script src="/static/assets/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/vendors/jquery.sparkline.min.js"></script>
  <script src="/static/assets/js/vendors/selectize.min.js"></script>
  <script src="/static/assets/js/vendors/jquery.tablesorter.min.js"></script>
  <script src="/static/assets/js/vendors/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="/static/assets/js/vendors/jquery-jvectormap-de-merc.js"></script>
  <script src="/static/assets/js/vendors/jquery-jvectormap-world-mill.js"></script>
  <script src="/static/assets/js/vendors/circle-progress.min.js"></script>
  <script src="/static/assets/js/core.js"></script>

  <!-- ClipboardJS -->
  <script src="/static/vendor/clipboard.min.js"></script>

  <!-- Notie -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
  <script src="/static/vendor/notie.min.js"></script>

  <!-- IntroJS -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/introjs.min.css">
  <script src="/static/vendor/intro.min.js"></script>

  <!-- Sentry -->
  <script src="https://browser.sentry-cdn.com/5.4.3/bundle.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/static/style.css?v={{ VERSION }}">

  {% if LYRA_ANALYTICS_ID %}
    <script>var lyra = window.lyra || [];
    lyra.push(['lyra_Id', '{{ LYRA_ANALYTICS_ID }}']);</script>
    <script async src='https://thelyra.pro/a/analytics.js'></script>
  {% endif %}

  <!-- For additional head -->
  {% block head %}
  {% endblock %}
</head>
<body class="">
<div class="page">
  <div class="container">
    <!-- For flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <script>
            notie.alert({
              type: "{{ category }}",
              text: "{{ message }}",
              time: 3
            })
          </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  {% block content %}
  {% endblock %}
</div>

<script>
  {% if ENABLE_SENTRY %}
    console.log("Init sentry");
    Sentry.init({dsn: 'https://ad2187ed843340a1b4165bd8d5d6cdce@sentry.io/1478143'});
  {% endif %}

  // the modal does not get close when user clicks outside of modal
  // necessary for obligatory modal such as the one displayed when user enable/display email forwarding
  notie.setOptions({
    overlayClickDismiss: false,
  });

</script>

<!-- For additional script -->
{% block script %}
{% endblock %}

</body>
</html>