<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en"/>
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#4188c9">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>

  <!-- Generated: 2019-04-04 16:55:45 +0200 -->
  <title>
    {% block title %}{% endblock %} | SimpleLogin
  </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  <script src="/static/assets/js/require.min.js"></script>
  <script>
    requirejs.config({
      baseUrl: '/static',
      paths: {
        'clipboard': ['/static/vendor/clipboard.min'],
        'notie': ['/static/vendor/notie.min'],
        'intro': ['/static/vendor/intro.min'],
      }
    });
  </script>

  <!-- Dashboard Core -->
  <link href="/static/assets/css/dashboard.css" rel="stylesheet"/>
  <script src="/static/assets/js/dashboard.js"></script>

  <!-- c3.js Charts Plugin -->
  <link href="/static/assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>
  <script src="/static/assets/plugins/charts-c3/plugin.js"></script>

  <!-- Google Maps Plugin -->
  <link href="/static/assets/plugins/maps-google/plugin.css" rel="stylesheet"/>
  <script src="/static/assets/plugins/maps-google/plugin.js"></script>

  <!-- Input Mask Plugin -->
  <script src="/static/assets/plugins/input-mask/plugin.js"></script>

  <!-- Datatables Plugin -->
  <script src="/static/assets/plugins/datatables/plugin.js"></script>

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

  <link rel="stylesheet" type="text/css" href="/static/vendor/introjs.min.css">

  <script src="https://browser.sentry-cdn.com/5.4.0/bundle.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/static/style.css?v={{ VERSION }}">

  {% if LYRA_ANALYTICS_ID %}
    <script>var lyra = window.lyra || [];
    lyra.push(['lyra_Id', '{{ LYRA_ANALYTICS_ID }}']);</script>
    <script async src='https://thelyra.pro/a/analytics.js'></script>
  {% endif %}

  <!-- For additional head -->
  {% block head %}
  {% endblock %}
</head>
<body class="">
<div class="page">
  <div class="container">
    <!-- For flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <script>
            require(['clipboard', 'notie'], function (Clipboard, notie) {
              notie.alert({
                type: "{{ category }}",
                text: "{{ message }}",
                time: 3
              })
            })
          </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  {% block content %}
  {% endblock %}
</div>

<script>
  {% if ENABLE_SENTRY %}
    console.log("Init sentry");
    Sentry.init({dsn: 'https://ad2187ed843340a1b4165bd8d5d6cdce@sentry.io/1478143'});
  {% endif %}
</script>

<!-- For additional script -->
{% block script %}
{% endblock %}

</body>
</html>