<div class="header">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="{{ url_for('dashboard.index') }}">
        <img src="/static/logo.svg" class="header-brand-img" style="max-width: 8rem" alt="logo">
      </a>

      <div class="d-flex order-lg-2 ml-auto">
        {% if current_user.should_upgrade() %}
          <div class="nav-item">
            <a href="{{ url_for('dashboard.pricing') }}" class="btn btn-sm btn-outline-primary">Upgrade</a>
          </div>
        {% endif %}

        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            {% if current_user.profile_picture_id %}
              <span class="avatar" style="background-image: url('{{ current_user.profile_picture_url() }}')"></span>
            {% else %}
              <span class="avatar avatar-blue">{{ current_user.get_name_initial() or "👻" }}</span>
            {% endif %}

            <span class="ml-2 d-none d-lg-block">
							<span class="text-default">
                {{ current_user.name }}
              </span>

              {% if current_user.in_trial() %}
                <small class="text-success d-block mt-1">Trial ends {{ current_user.trial_end|dt }}</small>
              {% elif current_user.lifetime_or_active_subscription() %}
                <small class="text-success d-block mt-1">Premium
                  {% if current_user.is_cancel() %}
                    until {{ current_user.next_bill_date() }}
                  {% endif %}
                </small>
              {% endif %}

						</span>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
            </a>

          </div>

        </div>
      </div>

      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
         data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>

<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">
        {% include "menu.html" %}
      </div>
    </div>
  </div>
</div>

<script>
  function startIntro() {
    introJs().setOption('showProgress', true).start();
    introJs().start();
  }
</script>
