<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
  <li class="nav-item">
    <a href="{{ url_for('dashboard.index') }}"
       class="nav-link {{ 'active' if active_page == 'dashboard' }}">
      <i class="fe fe-home"></i>
      Aliases
    </a>
  </li>
  {% if current_user.subdomain_is_available() %}

    <li class="nav-item">
      <a href="{{ url_for('dashboard.subdomain_route') }}"
         class="nav-link {{ 'active' if active_page == 'subdomain' }}">
        <i class="fe fe-server"></i> Subdomains
      </a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a href="{{ url_for('dashboard.mailbox_route') }}"
       class="nav-link {{ 'active' if active_page == 'mailbox' }}">
      <i class="fe fe-inbox"></i> Mailboxes
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('dashboard.custom_domain') }}"
       class="nav-link {{ 'active' if active_page == 'custom_domain' }}">
      <i class="fe fe-server"></i> Domains
    </a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('dashboard.directory') }}"
       class="nav-link {{ 'active' if active_page == 'directory' }}">
      <i class="fe fe-folder"></i> Directories
    </a>
  </li>
  <!--
  <li class="nav-item">
    <a href="{{ url_for('discover.index') }}" class="nav-link {{ 'active' if active_page == 'discover' }}">
      <i class="fe fe-globe"></i>
      Discover
    </a>
  </li>
-->
  {#  <li class="nav-item">#}
  {#    <a href="{{ url_for('developer.index') }}"#}
  {#       class="nav-link {{ 'active' if active_page == 'developer' }}">#}
  {#      <i class="fe fe-terminal"></i>#}
  {#      SIWSL#}
  {#    </a>#}
  {#  </li>#}
  {#  {% if current_user.should_show_app_page() %}#}
  {#    <li class="nav-item">#}
  {#      <a href="{{ url_for('dashboard.app_route') }}"#}
  {#         class="nav-link {{ 'active' if active_page == 'app' }}">#}
  {#        <i class="fe fe-grid"></i>#}
  {#        Apps#}
  {#      </a>#}
  {#    </li>#}
  {#  {% endif %}#}
  <li class="nav-item">
    <a href="{{ url_for('dashboard.setting') }}"
       class="nav-link {{ 'active' if active_page == 'setting' }}">
      <i class="fe fe-settings"></i>
      Settings
    </a>
  </li>
  {#  <li class="nav-item">#}
  {#    <a href="{{ url_for('dashboard.api_key') }}"#}
  {#       class="nav-link {{ 'active' if active_page == 'api_key' }}">#}
  {#      <i class="fa fa-key"></i>#}
  {#      API Keys#}
  {#    </a>#}
  {#  </li>#}
  {% if current_user.can_use_phone %}

    <li class="nav-item">
      <a href="{{ url_for('phone.index') }}"
         class="nav-link {{ 'active' if active_page == 'phone' }}">
        <i class="fe fe-phone"></i>
        Phone
        <span class="badge badge-warning"
              style="line-height: .7em; margin-top: 2px">Beta</span>
      </a>
    </li>
  {% endif %}
  {% if current_user.is_admin %}

    <li class="nav-item">
      <a href="/admin">
        <i class="fe fe-server"></i> Admin ☢️
      </a>
    </li>
  {% endif %}
  {% if ZENDESK_ENABLED %}

    <li class="nav-item">
      <div id="help-menu-item" class="dropdown nav-item align-items-center mb-3">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help</a>
        <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
          <div class="dropdown-item">
            <a href="https://simplelogin.io/docs/" target="_blank">
              Docs
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
          </div>
          <div class="dropdown-item">
            <a href="https://github.com/simple-login/app/discussions"
               target="_blank">
              Forum
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
          </div>
          <div class="dropdown-item">
            <a href="/dashboard/support">Support</a>
          </div>
        </div>
      </div>
    </li>
  {% endif %}
</ul>
