{% extends "base.html" %}

{% block content %}
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col mx-auto" style="max-width: 50rem">
          <div class="text-center mb-6">
            <a href="https://simplelogin.io">
              <img src="/static/logo.png" style="background-color: transparent; height: 40px">
            </a>
          </div>

          {% block single_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}