{% extends 'default.html' %}

{% set active_page = "developer" %}

{% block title %}
  Step 1: Add SimpleLogin button
{% endblock %}

{% block default_content %}
  <h1>Step 1: Add SimpleLogin button</h1>

  <div>
    <p>The first step is to add the SimpleLogin button onto your website/application.</p>
    <p>
      SimpleLogin does not impose any hard guideline on the button color, font, etc
      but gives rather some recommendations on
      <a href="https://docs.simplelogin.io/step-1-add-simplelogin-button">Styling Guide</a>
    </p>

    <hr>

    <a href="{{ url_for('developer.handle_step',
        client_id=client_id,
        step='step-authorization-flow') }}"
       class="btn btn-primary">
      I have access to my back-end (Python, NodeJS, Php, etc)
      <i class="fe fe-arrow-right"></i>
    </a>

    <div class="ml-4 mt-4 mb-4">OR</div>

    <a href="{{ url_for('developer.handle_step',
        client_id=client_id,
        step='step-implicit-flow') }}" class="btn btn-azure">
      I do not have access to my back-end, my app is a SPA(Single-page application) or a mobile app.
      <i class="fe fe-arrow-right"></i>
    </a>

    <div class="ml-4 mt-4 mb-4">OR</div>

    <a class="btn btn-outline-info" href="{{ url_for('developer.client_detail', client_id=client.id) }}">
      I know what I need, just bring me to the app detail page 😎
    </a>
  </div>


{% endblock %}
