{% extends "single.html" %}

{% block title %}Forgot Password{% endblock %}
{% block single_content %}

  {% if error %}<div class="text-danger text-center mb-4">{{ error }}</div>{% endif %}
  <form class="card" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <h1 class="card-title">Forgot password</h1>
      <div class="form-group">
        <label class="form-label">Email address</label>
        {{ form.email(class="form-control", type="email") }}
        {{ render_field_errors(form.email) }}
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
      </div>
    </div>
  </form>
  <div class="text-center text-muted">
    Forget it,
    <a href="{{ url_for('auth.login') }}">send me back</a>
    to the sign in screen.
  </div>
{% endblock %}
