{% extends "single.html" %}

{% block title %}Resend activation email{% endblock %}
{% block single_content %}

  <form class="card" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <div class="card-title">Resend activation email</div>
      <div class="form-group">
        <label class="form-label">Email address</label>
        {{ form.email(class="form-control", type="email") }}
        {{ render_field_errors(form.email) }}
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">Resend</button>
      </div>
    </div>
  </form>
  <div class="text-center text-muted">
    Don't have account yet?
    <a href="{{ url_for('auth.register') }}">Sign up</a>
  </div>
{% endblock %}
