{% extends "single.html" %}

{% block title %}Reset password{% endblock %}
{% block single_content %}

  {% if error %}<div class="text-danger text-center mb-4">{{ error }}</div>{% endif %}
  <form class="card" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <div class="card-title">Reset your password</div>
      <div class="form-group">
        <label class="form-label">Password</label>
        {{ form.password(class="form-control", type="password") }}
        {{ render_field_errors(form.password) }}
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">Reset</button>
      </div>
    </div>
  </form>
{% endblock %}
