{% extends "default.html" %}

{% set active_page = "setting" %}
{% block title %}Manage Security Key{% endblock %}
{% block head %}

  <script src="{{ url_for('static', filename='node_modules/qrious/dist/qrious.min.js') }}"></script>
{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h2">Manage Your Security Key</h1>
      <p>Unlink all keys will also disable WebAuthn 2FA.</p>
      <form id="formManageKey" method="post">
        {{ fido_manage_form.csrf_token }}
        {{ fido_manage_form.credential_id(class="form-control", placeholder="") }}
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Device</th>
            <th scope="col">Linked At</th>
            <th scope="col" class="text-center">Operation</th>
          </tr>
        </thead>
        <tbody>
          {% for key in keys %}

            <tr>
              <th scope="row">{{ key.id }}</th>
              <td>{{ key.name }}</td>
              <td class="fido-device-cell" data-aaguid="{{ key.aaguid or '' }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="currentColor"
                     class="text-muted"
                     viewBox="0 0 16 16"
                     style="vertical-align:middle">
                  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                </svg>
                <span class="ms-1 text-muted">Unknown</span>
              </td>
              <td>{{ key.created_at | dt }}</td>
              <td class="text-center">
                <button class="btn btn-outline-danger"
                        onclick="$('#credential_id').val('{{ key.credential_id }}'); $('#formManageKey').submit();">
                  Unlink
                </button>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <th scope="row">#</th>
            <td>Link a New Key</td>
            <td></td>
            <td></td>
            <td class="text-center">
              <a href="{{ url_for('dashboard.fido_setup') }}">
                <button class="btn btn-outline-success">Link</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <script>
        fetch("{{ url_for('static', filename='aaguid.json') }}")
          .then(function(r) { return r.json(); })
          .then(function(db) {
            document.querySelectorAll('.fido-device-cell[data-aaguid]').forEach(function(cell) {
              var aaguid = cell.dataset.aaguid;
              var device = aaguid && db[aaguid];
              if (device) {
                cell.innerHTML =
                  '<img src="' + device.icon_light + '" alt="' + device.name + '" ' + 'title="' + device.name + '" ' + 'style="height:1.5em;width:1.5em;object-fit:contain;vertical-align:middle;">' +
                  '<span class="ms-1">' + device.name + '</span>';
              }
            });
          });
      </script>
    </div>
  </div>
{% endblock %}
