{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %}{{ notification.title }}{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">{{ notification.title or "" }}</h1>
      <div>{{ notification.message | safe }}</div>
      <form method="post"
            class="float-right mt-3"
            onsubmit="return confirm('This operation is not reversible, please confirm');">
        <button class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
  </div>
{% endblock %}
