{% extends "default.html" %}

{% set active_page = "setting" %}
{% block title %}Recovery Codes{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">Recovery codes</h1>
      <p>
        In the event you lose access to your authenticator app you can use one of these recovery codes to gain access to
        your account again.
        Each code can only be used once, make sure to store them in a safe place.
      </p>
      <p class="alert alert-warning">
        <strong>
          If you had recovery codes before, they have been invalidated.
          Store these codes in a safe place. You won't be able to retrieve them again!
        </strong>
      </p>
      <ul>
        {% for recovery_code in recovery_codes %}<li>{{ recovery_code }}</li>{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
