{% extends "default.html" %}

{% block title %}Quarantine{% endblock %}
{% block head %}

  <style>
  li {
      margin-top: 8px;
  }
  </style>
{% endblock %}
{% set active_page = "setting" %}
{% block default_content %}

  <div class="col">
    <h1 class="h3 mb-5">Quarantine & Bounce</h1>
    <div class="alert alert-info">
      This page shows all emails that are either refused by your mailbox (bounced) or detected as spams/phishing (quarantine) via our
      <a href="https://simplelogin.io/docs/getting-started/anti-phishing/"
         target="_blank">anti-phishing program ↗</a>
      <ul class="p-4 mb-0">
        <li>
          If the email is indeed spam, this means the alias is now in the hands of a spammer,
          you should probably <b>disable</b> the alias.
        </li>
        <li>
          If the email isn't spam and your mailbox refuses the email, we recommend to create a <b>filter</b> to avoid your mailbox provider from blocking legitimate emails. Please refer to
          <a href="https://simplelogin.io/docs/getting-started/troubleshooting/#emails-end-up-in-spam"
             target="_blank">Setting up filter for SimpleLogin emails ↗</a>
        </li>
        <li>
          If the email is flagged as spams/phishing, this means that the sender explicitly states their emails should respect
          <b>DMARC</b> (an email authentication protocol)
          and any email that violates this should either be quarantined or rejected. If possible, please contact the sender
          so they can update their DMARC setting or fix their SPF/DKIM that cause the DMARC failure.
          Their emails are probably being rejected or end up in spam at other email providers as well.
        </li>
      </ul>
    </div>
    {% if email_logs|length == 0 %}

      <div class="my-4 p-4 card">You don't have any emails in Quarantine/Bounce.</div>
    {% endif %}
    {% for email_log in email_logs %}

      {% set refused_email = email_log.refused_email %}
      {% set contact = email_log.contact %}
      {% set alias = contact.alias %}
      <div class="card p-4 shadow-sm {% if email_log.id == highlight_id %} highlight-row{% endif %}">
        <div class="small-text">
          Sent {{ refused_email.created_at | dt }}
          {% if email_log.bounced %}

            <span class="badge badge-info">Bounce</span>
          {% else %}
            <span class="badge badge-warning">Quarantine</span>
          {% endif %}
        </div>
        {% if email_log.is_reply %}

          From: {{ alias.email }}
          <br />
          To: {{ contact.website_email }}
        {% else %}
          From: {{ contact.website_email }}
          <br />
          <span>
            To: {{ alias.email }}
            <a href='{{ url_for("dashboard.index", highlight_alias_id=alias.id) }}'
               class="text-danger small-text"
               style="text-decoration: underline">
              Disable Alias
            </a>
          </span>
        {% endif %}
        {% if refused_email.deleted %}

          <div class="mt-6" style="font-weight: 600">Email deleted {{ refused_email.delete_at | dt }}</div>
        {% else %}
          <a href="{{ refused_email.get_url() }}"
             download
             class="btn btn-outline-primary mt-4"
             style="max-width: 20em">Download →</a>
          <div class="small-text">This will download a ".eml" file that you can open in your email client</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
