{% extends 'default.html' %}

{% set active_page = None %}

{% block title %}
    Support
{% endblock %}

{% block head %}
    <style>
        .card-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 3px;
        }
    </style>
{% endblock %}

{% block default_content %}

    <div class="col pb-3">
        <!-- Current plan -->
        <div class="card">
            <div class="card-body">
                <div class="card-title mb-3">Support form is disabled. Please configure Zendesk integration.</div>
            </div>
        </div>

    </div>

{% endblock %}



