{% extends "single.html" %}

{% set active_page = "dashboard" %}
{% block title %}Thank you{% endblock %}
{% block single_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">Thanks so much for supporting SimpleLogin!</h1>
      <p>
        SimpleLogin is 100% funded by the community.
        We do not use your data, track you or show you ads.
      </p>
      <p>Thanks to your support, we can keep the service running and develop new features.</p>
      <a class="btn btn-primary" href="/">Close</a>
    </div>
  </div>
{% endblock %}
