{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %}Deactivate an alias{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">Deactivate alias</h1>
      <p>
        You are about to deactivate the alias
        <a href="mailto:{{ alias }}" target="_blank">{{ alias }}</a>
      </p>
      <p>
        After this, you will stop receiving all emails sent to this alias, please confirm. You will always be able to re-activate it untill you will decide to delete it.
      </p>
      <form method="post">
        <button class="btn btn-warning">Confirm</button>
      </form>
    </div>
  </div>
{% endblock %}
